.table {
  margin-top: 50px;
  margin-left: 40px;
  text-align: center;
  width: 100%;
}
.table table,
.table td,
.table th {
  border: 1px solid #595959;
  border-collapse: collapse;
}
.table td,
.table th {
  padding: 3px;
  width: 80px;
  height: 50px;
  background: #797979;
  color: white;
}
.table th {
  background: #525252;
  color: white;
  font-size: 18px;
}
.table .even {
  background: #fbf8f0;
}
.table .odd {
  background: #fefcf9;
}