.mainBodyTwo {
	display: flex;
	.left_side {
		display: flex;
		flex: 8;
		flex-direction: column;
		padding: 30px 30px 15px;

		.wg_loader {
			display: flex;
			margin: 10px 0;
			justify-content: center;
			align-items: center;
			background-color: red;

			.calendario {
				display: flex;
				width: 600px;
				justify-content: space-between;

				.left {
					display: flex;
					flex-direction: column;
					gap: 10px;
					justify-content: center;
					align-items: center;
					background-color: rgb(255, 37, 37);
					color: rgb(255, 255, 255);
					padding: 15px 10px;
					width: 150px;

					h3 {
						font-size: 16px;
						font-weight: 800;
						text-align: center;
					}

					.logo {
						border: 1px solid white;
						border-radius: 50%;
						width: 30px;
						height: 30px;
					}
				}
				.center {
					display: flex;
					flex-direction: column;
					gap: 10px;
					justify-content: center;
					align-items: center;
					padding: 15px 10px;
					background-color: rgb(27, 27, 27);
					color: white;
					width: 400px;

					span {
						font-size: 16px;
						font-weight: 800;
					}

					h3 {
						font-size: 16px;
						font-weight: 800;
						text-align: center;
					}
				}
				.right {
					display: flex;
					flex-direction: column;
					gap: 10px;
					justify-content: center;
					align-items: center;
					background-color: rgb(255, 37, 37);
					color: white;
					padding: 15px 10px;
					width: 150px;

					.logo {
						display: flex;
						border: 1px solid white;
						border-radius: 50%;
						width: 30px;
						height: 30px;
					}
					h3 {
						font-size: 16px;
						font-weight: 800;
						text-align: center;
					}
				}
			}
		}
	}

	.right_side {
		display: flex;
		flex: 4;
		flex-direction: column;
		padding: 30px 30px 15px;

		.newsLetter {
			.top {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 12px 0;
				border-top: 2px solid red;
				z-index: 0;

				h2 {
					position: relative;
					margin: 0;
					color: red;
					font-size: 18px;
					font-weight: 700;
					line-height: 26px;
					text-transform: uppercase;
					z-index: 0;
				}

				.icon {
					color: grey;
					font-size: 18px;
					line-height: 26px;
					cursor: pointer;
				}
			}

			.bottom {
				background-color: rgb(235, 235, 235);
				display: flex;
				flex-wrap: wrap;
				padding: 20px;

				.bottomWrapper {
					display: flex;
					flex-direction: column;
					gap: 30px;
					margin: 10px;
					.content {
						p {
							font-size: 16px;
							color: rgb(0, 0, 0);
						}
					}

					form {
						.formInput {
							display: flex;
							align-items: center;
							justify-content: center;

							input {
								width: 90%;
								height: 40px;
								border: none;
								outline: none;
								padding: 10px;
								background-color: rgb(255, 255, 255);
							}

							.button {
								height: 40px;
								width: 50px;
								display: flex;
								align-items: center;
								justify-content: center;
								background-color: red;
								color: white;
								border: none;
								cursor: pointer;

								&:hover {
									background-color: rgb(0, 0, 0);
								}
							}
						}
					}
				}
			}
		}
		.widget3 {
			margin-top: 150px;

			.pollWidget {
				background-color: rgb(235, 235, 235);
				padding: 20px;

				.title {
					h3 {
						font-size: 16px;
						font-weight: 700;
						color: rgb(0, 0, 0);
						padding-bottom: 15px;
					}
				}

				.options {
					border-top: 1px solid grey;

					form {
						display: flex;
						flex-direction: column;
						padding-top: 15px;

						.checkBox {
							position: relative;
							display: flex;
							align-items: center;
							justify-content: space-between;
							gap: 20px;

							label {
								display: flex;
								align-items: center;
								gap: 10px;
								color: rgb(0, 0, 0);
								padding: 10px 0;

								span {
									cursor: pointer;
								}
							}

							p {
								display: flex;
								align-items: center;
								justify-content: space-between;
								color: rgb(0, 0, 0);
								position: absolute;
								right: 0;
								width: 120px;
								height: 12px;
								background-color: white;
								margin-right: 35px;
								border: 1px solid grey;

								span {
									width: 100%;
									height: 100%;
									background-color: red;
								}
							}

							.perc {
								color: rgb(0, 0, 0);
							}
						}

						button {
							margin-top: 20px;
							background-color: red;
							color: white;
							padding: 3px 15px;
							max-width: fit-content;
							cursor: pointer;
							border: none;
							font-weight: 800;
							transition: 0.5s ease-in-out;

							&:hover {
								background-color: rgb(0, 0, 0);
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 480px) {
	.mainBodyTwo {
		flex-direction: column;
		.left_side {
			.wg_loader {
				.calendario {
					height: 160px;
					width: 350px;
					.left {
						h3 {
							font-size: 14px;
						}
					}

					.center {
						width: 250px;

						h3 {
							font-size: 14px;
						}
					}

					.right {
						h3 {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.mainBodyTwo {
		flex-direction: column;

		.right_side {
			.widget3 {
				margin-top: 80px;
			}
		}
	}
}
