.styleTwo {
	width: 100%;

	.top {
		width: 370px;
		height: 175px;
		position: relative;
		margin-bottom: 20px;
		overflow: hidden;

		img {
			width: 100%;
			object-fit: cover;
			cursor: pointer;
		}

		.cat {
			position: absolute;
			top: 20px;
			left: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 12px;
			font-weight: 500;
			color: white;
			text-transform: uppercase;
			background-color: black;
			padding: 5px 10px;
			transition: 0.5s;

			&:hover {
				background-color: red;
			}
		}

		.icon {
			position: absolute;
			top: 20px;
			right: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: red;
			color: white;
			padding: 5px 10px;
			transition: 0.5s;
			cursor: pointer;

			&:hover {
				background-color: black;
			}
		}

		.postInfo {
			position: absolute;
			bottom: 0;
			left: 0;
			display: flex;
			flex-direction: column;

			ul {
				display: flex;
				align-items: center;
				padding: 0;
				margin: 0;
				list-style: none;
				gap: 15px;
			}

			.nav {
				color: white;
				font-size: 14px;
				margin-left: 20px;
				transition: 0.5s;

				&:hover {
					color: red;
				}
			}

			.nav li {
				font-weight: 600;
			}

			h3 {
				padding: 0 20px 20px 20px;
				font-size: 16px;
				font-weight: 800;
				width: 350px;
				color: white;
				cursor: pointer;
				transition: 0.5s;

				&:hover {
					color: red;
				}
			}
		}
	}

	.bottom {
		.item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 15px;
			gap: 20px;
			padding-top: 15px;
			border-top: 1px solid black;

			.left {
				img {
					width: 130px;
					cursor: pointer;
				}
			}

			.right {
				display: flex;
				flex-direction: column;

				.nav {
					list-style: none;
					margin: 0;
					padding: 0;
					display: flex;
					align-items: center;
					gap: 15px;

					li {
						font-size: 13px;
						color: gray;
						cursor: pointer;
						transition: 0.5s;

						&:hover {
							color: red;
						}
					}
				}

				h3 {
					text-align: start;
					cursor: pointer;
					transition: 0.5s;
					font-size: 13.5px;
					font-weight: 700;
					color: black;

					&:hover {
						color: red;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 480px) {
}

@media screen and (min-width: 481px) and (max-width: 768px) {
}
