.audioVideo {
	padding: 30px 40px 20px 40px;
	background-color: rgb(197, 196, 196);

	.audioVideoWrapper {
		border-top: 2px solid white;
		display: flex;
		flex-direction: column;

		.icon {
			color: red;

			&:hover {
				color: black;
			}
		}

		.body {
			display: flex;
			gap: 30px;
			margin-bottom: 20px;

			.videoWrapper {
				flex: 8;
			}

			.listWrapper {
				flex: 4.5;

				.list {
					display: flex;
					flex-direction: column;
					height: 100%;
					justify-content: space-between;

					.item {
						display: flex;
						align-items: center;
						gap: 20px;

						.left {
							img {
								display: flex;
								height: 100%;
								width: 110px;
								cursor: pointer;
							}
						}

						.right {
							display: flex;
							flex-direction: column;

							.nav {
								list-style: none;
								margin: 0;
								padding: 0;
								display: flex;
								align-items: center;
								gap: 15px;

								li {
									color: white;
									cursor: pointer;
									transition: 0.5s;

									&:hover {
										color: black;
									}
								}
							}

							h3 {
								display: flex;
								font-size: 12px;
								font-weight: 800;
								color: rgb(0, 0, 0);
								cursor: pointer;
							}
						}

						&:hover {
							border-radius: 5px;
							border-top: 1px solid rgba(187, 7, 7, 0.3);
							background-color: rgba(0, 0, 0, 0.25);
							box-shadow: inset 0 1px rgba(167, 7, 7, 0.3);
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.audioVideo {
		.audioVideoWrapper {
			.body {
				flex-direction: column;
			}
		}
	}
}
