.navbarTop {
  background-color: #c5c4c4;
  height: 50px;
}
.navbarTop .navbarContainer {
  padding: 12.5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbarTop .navbarContainer .left {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.navbarTop .navbarContainer .left .item {
  display: flex;
  align-items: center;
  color: #777777;
  cursor: pointer;
  transition: 0.5s;
}
.navbarTop .navbarContainer .left .item:hover {
  color: white;
}
.navbarTop .navbarContainer .left .item span {
  font-size: 15px;
  font-weight: 500;
}
.navbarTop .navbarContainer .right {
  display: flex;
  position: relative;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.navbarTop .navbarContainer .right .item {
  display: flex;
  align-items: center;
  color: #777777;
  cursor: pointer;
  transition: 0.5s;
}
.navbarTop .navbarContainer .right .item:hover {
  color: white;
}
.navbarTop .navbarContainer .right .item span {
  font-size: 15px;
  font-weight: 500;
}
.navbarTop .navbarContainer .right .dropDownMenu {
  position: absolute;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  right: 20px;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: white;
  color: grey;
  top: 37px;
  border-bottom: 2px solid #ce0000;
}
.navbarTop .navbarContainer .right .dropDownMenu li {
  padding: 5px 30px;
  transition: 0.5s;
  cursor: pointer;
}
.navbarTop .navbarContainer .right .dropDownMenu li a {
  font-weight: 500;
}
.navbarTop .navbarContainer .right .dropDownMenu li:hover {
  color: red;
}